<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${loggedUser.name} + '| Dashboard'">Profile</title>
</head>

<body>
    <div id="content">

        <!-- if user is logged in | sidebar  -->
        <div data-th-if="${loggedUser}">
            <div data-th-replace="~{user/sidebar:: sidebar}"></div>
        </div>

        <div class="sm:pl-64 ">
            <h1>
                Welcome to Dashboard Page
            </h1>
        </div>
    </div>

</body>

</html>