<!DOCTYPE html>
<html lang="en" th:replace= "~{base :: parent(~{::#content},~{::title})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="content" class="text-center mt-20 md:w-1/2 mx-auto ">
        <div data-th-replace= "~{message :: messageBox }"></div>
        <a href="/login" class="bg-gray-900 mt-2 text-white px-3 py-2 rounded-lg">Login</a>
    </div>
    
</body>
</html>